*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-color: rgb(167, 167, 167);
    height: 100vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo h1{
    margin-top: 8rem;
    cursor: default;
}

div .calculadora{
    background-color: rgba(8, 8, 8, 0.507);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 15px;
}

.botao{
    height: 50px;
    width: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border:none;
    color: aliceblue;
    margin: 1px;
    transition: 0.4s;
}

.botao:hover{
    background-color: black;
}

#resultado{
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    background-color: aliceblue;
    padding: 2px;
}